A.linkButton {
    color: white;
}

A.linkButton:visited {
    color: white;
}

label.field {
    display:block;
}

input.field {
    width: 99%;
    display:block;
    clear:left;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
    font-size: 14px;
    background: white;
    max-width: 70%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
    white-space: nowrap;
}

td.frozen {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
    white-space: nowrap;
    background: #cccccc;
}

tr:hover td {background: #e8edff;}


ul {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li:hover {background: #e8edff;}

.contentPage {
    margin-left: 10px;
    margin-top: 20px;
}

/*Classes for creating dialogs*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity:0;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px 20px 13px 20px;
    background: #ccc;
    position: fixed; top: 20%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.refNavBar {
    float: left;
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 40px;
}

.linkButton {
    text-decoration:none;
    padding: 7px 10px;
}

.insertButton {
    background:#96ed90;
}

/*.insertButton A {
    color: white;
}*/
.updateButton {
    background:#adbdd8;
}

.frozeButton {
    background:#b0b4ba;
}

.deleteButton {
    background:#b0b4ba;
}

#navPanel {
    float: left;
    width: 120px;
    padding: 10px 14px;
}

#sideBar {
    float: left;
    padding: 7px 50px;
}
